@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;600&display=swap');

* {
  font-family: 'Lexend', sans-serif !important;
  min-height: 0;
  scrollbar-width: thin;
  scrollbar-color: #7cc323 transparent;
  -ms-overflow-style: none;

}


/* 
*::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #eeffe2;
  border: 3px solid #ffffff;
}

*::-webkit-scrollbar-button {
  display: none;
} */